[Desktop Entry]
Name=Philotes
Comment=Communication Application Container
Exec=philotes
Icon=philotes
Terminal=false
Type=Application
Categories=InstantMessaging;
Keywords=chat;communication;google;philotes;msg;messages;
